/* Apply box-sizing: border-box to all elements and their pseudo-elements */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Style for the overall page body */
body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 4rem);
    grid-template-rows: 7rem 2rem 7rem;
    gap: .5rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 1rem;
}

/* Styling for the card decks */
.deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: .5rem;
    color: black;
    user-select: none;
}

/* Styling for the computer deck with a green background */
.computer-deck {
    background-color: paleturquoise;
}

/* Styling for the player deck with a blue background */
.player-deck {
    background-color: grey;
}

/* Styling for text elements within the grid */
.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for individual cards */
.card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

    /*border: 1px solid #dee2e6;
    color: #495057;*/
}

/* Styling for red-colored cards */
.card.red {
    color: red;
}

/* Styling for black-colored cards */
.card.black {
    color: black;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}

/* Positioning of the card value before */
.card::before {
    top: .5rem;
    left: .5rem
}

/* Positioning of the card value after */
.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}